/*====================================================
                DEFAULT VALUES:

                Font Family                 : Lato
                
======================================================*/

/* General CSS */

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/*====================================================
                        Header
======================================================*/

.heder-nav-btn {
    border: 1px solid #ff7920;
    font-size: 15px;
    background-color: #f79432;
    padding: 10px 15px;
    color: #fff;
    border-radius: 3px;
    font-family: 'Work Sans', sans-serif;
}

.heder-nav-btn:hover {
    border: 1px solid #ff7920;
    background-color: #fff;
    color: #f79432;
    text-decoration: none;
}

.navlink-custom {
    margin-right: 60px;
}

.nav-custom {
    background-color: rgba(0, 0, 0, 0.0);
}

.navbar-brand{
    padding-top: 10px;
    padding-bottom: 0;
}

 .navbar-brand{
        width: 188px;
        height: 60px;
    }
.nav-custom a{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    font-family: 'Lato', sans-serif;
}

.nav-custom a:hover{
    transform: scale(1.05);
}

/*====================================================
                        HOME
======================================================*/

#home {
    margin: 0;

}

.home-inner {
    width: 50%;
    margin-left: 130px;
    padding-top: 167px;
}

.home-inner h2 {
    font-size: 35px;
    color: #14141D;
    font-family: 'Work Sans', sans-serif;
    padding-bottom: 35px;
    z-index: 50000000;
}

.home-inner p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Lato', sans-serif;
    padding-right: 75px;
}

.home-btn img {
    height: 55px;
    width: 185px;
}

.home-btn-right {
    padding-left: 25px;
}

.home-corner {
    background-image: url(../imgs/Mask%20Group%202.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*====================================================
                        Work
======================================================*/

/*================ Work left ===============*/

#work {
    margin-top: 100px;
}

.section-title {
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
    color: #14141D;
}

.work-item-box {
    margin-top: 25px;
    padding: 10px
}

.work-item-box h3 {
    font-size: 24px;
    color: #14141D;
    font-family: 'Work Sans', sans-serif;
}

.work-item-box p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}


/*================ Work Right ===============*/

/*====================================================
                        Meal
======================================================*/

.top-style {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #F8FBFE;
}

.top-style:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: top left;
    transform: skewY(-4deg);

}

.bottom-style {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #F8FBFE;
}

.bottom-style:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: bottom right;
    transform: skewY(-4deg);

}

#meal {
    width: 100%;
    background-color: #F8FBFE;
    text-align: center;
}

.title-meal {
    text-align: center;
    margin: 0 20px;
}

.meal-img {
    margin: auto;
    padding: 0px;
    background-color: #fff;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.meal-img img {
    width: 100px;
    height: 100px;
    margin: 28px;
}

.meal-inner h3 {
    font-size: 24px;
    color: #14141D;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.meal-inner p {
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.meal-inner {
    margin: 20px 25px 0 25px;;
}

/*====================================================
                        Contact
======================================================*/

#contact {
    width: 100%;
    margin: 50px 0 0 0;
}

h2.ct-inner {
    font-size: 27px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 20px;
}

h3.ct-inner {
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.contact-btn {
    background-color: #FF7920;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width:200px;
    font-size: 20px;
}
.cen-btn{
    max-width: 200px;
    margin: 35px auto;
    padding-bottom: 30px;
}
.contact-btn:hover {
    opacity: 0.9;
}


/* Full-width input fields */

input[type=text],
input[type=email],
input[type=number] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

input.mess {
    padding: 30px 20px;
}

.form-lb {
    margin: 10px 0px 0 26px;
}

/* Set a style for all buttons */

.contact-btn-pop {
    background-color: #FF7920;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
    font-size: 20px;
}

.contact-btn-pop:hover {
    border: 1px solid #ff7920;
    background-color: #fff;
    color: #f79432;
    text-decoration: none;
}

/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    padding-bottom: 30px;
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */

.animate {
    animation: zoom 0.6s
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/*====================================================
                        Footer
======================================================*/
footer{
    background-color: #181A27;
}

.footer-logo{
    width: 200px;
    
}
.white-logo{
    max-width: 200px;
    margin: 30px auto;
}

#footer-menu {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    max-width: 300px;
    margin: 0 auto;
}

#footer-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #FF7920;
}

.content-title-underline {
    width: 70%;
    height: 2px;
    background-color: #FFFFFF;
    margin: 15px auto 15px auto;
}

#social-icon img{
    width: 25px;
    margin: 0 10px;
}
#social-icon{
    margin: 20px auto;
    max-width: 170px;
    padding-bottom: 20px;
}
